<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/emprunt/add}" method="post">
        <input type="date" name="dateEmprunt" required>
        <input type="date" name="dateRetourPrevu" required>
        <select name="user_id">
            <option value="">Choisir utilisateur</option>
            <option th:each="u : ${utilisateurs}" th:value="${u.id}" th:text="${u.nom}"></option>
        </select>
        <button type="submit">Enregister emprunt</button>
    </form>
</div>

</body>
</html>